code/tflite/mnist_data/predictions_result.csv
code/tflite/mnist_data/test.csv
code/tflite/mnist_data/train.csv
code/tflite/bench_model/variables/variables.index
code/dic.py

data/
code/tflite/__pycache__/stl10_load.cpython-38.pyc
data/stl10_binary.tar.gz
data/img/
data/stl10_binary/*.txt
data/stl10_binary/train*
data/stl10_binary/unlabeled_X.bin